html{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 90%;
    height: 100vh;
    gap: 0;
    margin: 0;
    --bg-color: #596D48;
    font-family:Arial, sans-serif;
}

form {
    display: flex;
    flex-direction: row;
    max-width: auto;
    gap: 5%;
}

.form-container{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

form input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    width: 300px;
    border-color: #E5E7EB;
}

form input:focus {
    outline: none;
    border-color: darkblue;
}

button{
    background-color: var(--bg-color);
    font-size: 12px;
    cursor: pointer;
    color: white;
    width: 160px;
    height: 35px;
    border: none;
    border-radius: 20px;
    position: absolute;
    bottom: 5%;
}

.header{
    text-align: left;
    width: 50%;
    position: absolute;
    top: 0;
}

h2{

    font-size: 22px;
}

.pw:invalid {
    border-color: red;
}

.pw:valid {
    border-color: green;
}

.image-container{
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
}

.BG{
    width: 500px;
    height: 100vh;
    object-fit: cover;
}

.logo-container{
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.5);
    object-fit: cover;
}

.ODIN{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
}

h1{
    position: absolute;
    top: 5%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-family: norse;
    font-size: 80px;
}